<div class="general-header-wrapper">
  <header>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="brand"><a href="https://www.gloopster.com">{{ site.title }}</a></div>
        </div>
        <div class="col-lg-8">
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/courses">Courses</a></li>
              <li><a href="/latest">Articles</a></li>
              <li><a href="/newsletter">Newsletter</a></li>
              <li><a href="/search">Search</a></li>
            </ul>  
          </nav>
        </div>
      </div>
    </div>
    
  </header>
</div>