.course-contents-list-wrapper ul
{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: $unit-one;
}

.content .course-contents-list-wrapper h2 + h3 
{
  margin-top: $unit-two;
}

.content .course-contents-list-wrapper h3
{
  margin-top: $unit-four;
}

.course-contents-list-wrapper ul li
{
  display: grid;
  grid-template-columns: 0fr 1fr  150px;

  border-radius: 10px;
  border: 1px solid #b6b6b6;
  background-color: $white;

  width: 100%;

  padding: $unit-half;
  margin-bottom: $unit-one;
}

.course-contents-list-wrapper span.content-link
{
  color: $dark-gray;
  
  margin-right: $unit-half;
}

.course-contents-list-wrapper a:link,
.course-contents-list-wrapper a:active,
.course-contents-list-wrapper a:visited
{
  text-decoration: none;
}

.course-contents-list-wrapper ul a:hover li
{
  color: $light-gray;
  background-color: #ececec;
}

.course-contents-list-wrapper a:hover li span.content-type
{
  opacity: 0.75;
}


.course-contents-list-wrapper ul li span.content-type
{
  border-radius: 10px;
  color: $dark-gray;
  text-align: center;
  padding: 0 $unit-half 0 $unit-half;
}

.course-contents-list-wrapper ul li span.content-type.lesson
{
  background-color: $teal;
  font-weight: 700;
}

.course-contents-list-wrapper ul li span.content-type.challenge
{
  background-color: $nectar;
  font-weight: 700;
}

.course-contents-list-wrapper ul li span.content-type.project
{
  background-color: $peach;
  font-weight: 700;
}

.course-contents-list-wrapper ul li span.content-order
{
  color: $light-gray;
  font-size: 1rem;
  text-align: center;

  padding: 0 $unit-half 0 $unit-half;
  margin-right: $unit-one;
}

.course-bottom-pagination-wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-radius: 10px;
  border: 1px solid #b6b6b6;
  background-color: $off-white;

  padding: $unit-one $unit-two $unit-one $unit-two;
  margin-top: $unit-four;
  margin-bottom: $unit-two;
}



.course-sidebar-card
{
  border-radius: 10px;
  background-color: $off-white;
  width: 75%;
  padding-bottom: 75%;
  margin-left: auto;
}

.course-portal-metadata .course-knowledge-level,
.course-portal-metadata .course-difficulty,
.course-portal-metadata .course-prereqs,
.course-portal-metadata .course-flashcards
{
  margin-top: $unit-one;
}

.course-portal-metadata .course-flashcards
{
  border-radius: 10px;
  background-color: $off-white;
  text-align: center;
  padding: $unit-half 0 $unit-half 0;
}