.general-header-wrapper 
{

  background-color: $dark-gray;

  border-bottom: 1px solid $light-gray;

  color: $off-white;
  font-size: 2rem;

  padding-top: 2rem;
  padding-bottom: 0.75rem;

  margin-bottom: $unit-four;
}

.general-header-wrapper .brand
{
  font-weight: 900;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.general-header-wrapper .brand a:link,
.general-header-wrapper .brand a:active,
.general-header-wrapper .brand a:visited,
.general-header-wrapper .brand a:hover
{
  color: $teal;
  text-decoration: none;
}

.general-header-wrapper nav ul
{
  text-align: center;

  list-style: none;
  padding-left: 0;
}

.general-header-wrapper nav ul li
{
  display: inline-block;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
}

.general-header-wrapper nav ul li a:link,
.general-header-wrapper nav ul li a:active,
.general-header-wrapper nav ul li a:visited
{
  color: $off-white;
  text-decoration: none;
}

.general-header-wrapper nav ul li a:hover
{
  color: $nectar;
}

.footer-wrapper {
  border-top: 5px solid $light-gray;
  color: $light-gray;
  background-color: $dark-gray;
  padding-bottom: $unit-two;
  padding-top: $unit-two;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)
{



}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
{



}

// Large devices (desktops, 992px and up)
@media (min-width: 992px)
{

  .general-header-wrapper .brand
  {
    text-align: left;
    margin-bottom: 0;
  }

  .general-header-wrapper nav ul
  {
    text-align: right;
  }

  .general-header-wrapper nav ul li
  {
    margin-left: 2rem;
    margin-right: 0;
  }

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
{


  

}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px)
{

}