.home-header-wrapper 
{
  color: $off-white;

  padding-top: 5rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0rem;
}

.home-header-wrapper .brand
{
  font-size: 4rem;
  font-weight: 900;  

  animation: fadeIn;
  animation-delay: 250ms;
  animation-duration: 250ms;
  animation-fill-mode: both;

  text-align: center;
}

.home-header-wrapper .brand a:link,
.home-header-wrapper  .brand a:active,
.home-header-wrapper  .brand a:visited,
.home-header-wrapper .brand a:hover
{
  color: $teal;
  text-decoration: none;
}

.home-header-wrapper nav ul
{
  list-style: none;

  text-align: center;
  line-height: 2rem;

  padding-left: 0;
  margin-top: 4rem;
}

.home-header-wrapper nav ul li
{
  display: inline-block;

  font-size: 1rem;
  font-weight: 700;

  margin-right: 1rem;
}

.home-header-wrapper nav ul li.one
{
  animation: fadeIn;
  animation-delay: 250ms;
  animation-duration: 250ms;
  animation-fill-mode: both;
}

.home-header-wrapper nav ul li.two
{
  animation: fadeIn;
  animation-delay: 350ms;
  animation-duration: 250ms;
  animation-fill-mode: both;
}

.home-header-wrapper nav ul li.three
{
  animation: fadeIn;
  animation-delay: 450ms;
  animation-duration: 250ms;
  animation-fill-mode: both;
}

.home-header-wrapper nav ul li.four
{
  animation: fadeIn;
  animation-delay: 550ms;
  animation-duration: 250ms;
  animation-fill-mode: both;
}

.home-header-wrapper nav ul li.five
{
  animation: fadeIn;
  animation-delay: 650ms;
  animation-duration: 250ms;
  animation-fill-mode: both;
}

.home-header-wrapper nav ul li a:link,
.home-header-wrapper nav ul li a:active,
.home-header-wrapper nav ul li a:visited
{
  color: $off-white;
  text-decoration: none;
}

.home-header-wrapper nav ul li a:hover
{
  color: $nectar;
}

.home-landing-wrapper
{
  border-bottom: 10px solid $light-gray;

  background: rgb(98,157,144);
  background: linear-gradient(145deg, #2c2c2c 60%, #343434 60%, #2c2c2c 80%, #343434 80%);
  background-position: center;

  background-color: $dark-gray;

  color: $off-white;

  padding-bottom: 10rem;

  overflow-x: hidden;
}


.home-landing-wrapper .blurb
{
  display: none;

  font-size: 2rem;
  line-height: 2rem;

  text-align: center;
}

.home-landing-wrapper .blurb .article-amount
{
  color: $off-white;
  font-weight: 700;

  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 750ms;
  animation-fill-mode: both;
}

.home-landing-wrapper .blurb .article-amount span
{
  color: $peach;
}

.home-landing-wrapper .blurb .course-amount
{
  color: $off-white;
  font-weight: 700;

  animation: fadeIn;
  animation-delay: 750ms;
  animation-duration: 750ms;
  animation-fill-mode: both;
}

.home-landing-wrapper .blurb .course-amount span
{
  color: $bubblegum;
}

.home-landing-wrapper .blurb .call-to-action
{
  color: $off-white;
  font-weight: 700;

  animation: fadeIn;
  animation-delay: 500ms;
  animation-duration: 750ms;
  animation-fill-mode: both;

  margin-bottom: $unit-two;
}

.home-landing-wrapper .blurb .call-to-action span.specific-action
{
  display: inline-block;
}

.home-landing-wrapper .attention-grabber
{
  border-radius: 10px;
  border: 5px solid $light-gray;
  background-color: $off-white;

  min-width: 400px;
  max-width: 600px;
  max-height: 400px;
  height: 400px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 5rem;

  animation: fadeIn;
  animation-delay: 500ms;
  animation-duration: 1s;
  animation-fill-mode: both;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)
{
  .home-header-wrapper .brand
  {
    font-size: 5rem;
  }

  .home-header-wrapper nav ul li
  {
    font-size: 1.5rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px)
{

  .home-landing-wrapper .attention-grabber
  {
    margin-top: 0;
    margin-right: 0;
  }

  .home-landing-wrapper .blurb
  {
    display: block;
    text-align: left;

    font-size: 2rem;
  }

  .home-header-wrapper
  {
    margin-bottom: 10rem;
  }
  
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px)
{

  .home-header-wrapper .brand
  {
    text-align: left;
  }

  .home-header-wrapper nav ul
  {
    text-align: right;
    margin-top: 0;
  }

  .home-header-wrapper nav ul li
  {
    margin-left: 2rem;
    margin-right: 0;
  }

}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px)
{
  .home-landing-wrapper .blurb
  {
    font-size: 3rem;
  }
}
