html, body
{
  color: $dark-gray;
  background-color: $off-white-2;

  font-size: $global-font-size;
  font-family: $source-sans-pro;
  line-height: $global-line-height;

  margin: 0;
  padding: 0;
}
