.course-sidebar-card
{
  border-radius: 10px;
  background-color: $off-white;
  width: 100%;
  padding-bottom: 100%;
}

.sidebar-wrapper
{
  border-radius: 10px;
  background-color: $off-white;
  padding: $unit-half;
  min-height: 25vh;
  margin-top: $unit-four;
}