---
layout: default
---

{% include general/header.html %}
{% assign course_data = site.data.courses | where: "id", page.course_id | first %}

{% include course/course-metadata.html course_data=course_data %}

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="content-wrapper">
        <div class="content">
          {% include course/course-contents-list.html id=page.course_id %}
          {% include course/course-bottom-pagination.html id=page.course_id index=page.lesson_index %}
        </div>
      </div>
    </div>
    <div class="col-md-4  offset-md-1">
      <div class="sidebar-wrapper">

      </div>
    </div>
  </div>
</div>

{% include general/footer.html %}
