<div class="home-header-wrapper">
  <header>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="brand">{{ site.title }}</div>
        </div>
        <div class="col-lg-8">
          <nav>
            <ul>
              <li class="one"><a href="/">Home</a></li>
              <li class="two"><a href="/courses">Courses</a></li>
              <li class="three"><a href="/latest">Articles</a></li>
              <li class="four"><a href="/newsletter">Newsletter</a></li>
              <li class="five"><a href="/search">Search</a></li>
            </ul>  
          </nav>
        </div>
      </div>
    </div>
    
  </header>
</div>