<div class="home-landing-wrapper">
  <header>

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="blurb">
            <div class="call-to-action">Learn New Skills</div>
            <div class="course-amount">100 Free Courses</div>
            <div class="article-amount">456 Articles</div>
          </div>
          
        </div>

        <div class="col-lg-6">
          <div class="attention-grabber">

          </div>
        </div>
        
      </div>
    </div>
    
  </header>
    
</div>

